.DS_Store
.gradle/
.gradle-dist/
.android-sdk/
local.properties
**/build/
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/
commandlinetools-*.zip
gradle-*-bin.zip
/lunar-*.jar
*.apk
*.jks
*.keystore
key.properties
signing.properties
